.bg-omeans-dark{
background-color:#333 !important;
}
.c-rgba-white{
  color: rgba(0, 0, 0, 0.9) !important;
}
.c-rgba-white a{
  color: rgba(0, 0, 0, 0.9) !important;
}
.c-white{
color: white !important;
}
.c-white a{
color:white !important;
}
